*{
  font-family: 'Poppins', sans-serif;
}
.left-right{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f5f5;
  flex-wrap: wrap;
  height: 95vh;
}
.me-img{
  height: clamp(20rem,35vw,50rem);
  object-fit: cover;
  border-radius: 2vh;
}
.hero-container{
  padding-bottom: 1rem;
}
.hero-headingg {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size:clamp(6rem,16vw,20rem);
    color:#111;
    font-weight: bolder;
    line-height: clamp(6rem,16vw,20rem);
    margin-top: 1rem;
}
.hero-desc {
    font-size: clamp(0.85rem,1vw,1rem);
    padding-top: 1rem;
    font-weight:400;
    line-height: 1.25rem;
}

.about-wrapper{
  height: 120vh;
  padding:2rem;
  padding-bottom:6rem;
  display: flex;
  justify-content: center;
  align-items:center;
  color: white;
}
.about-headings{
  font-size: 40vh;
  filter: brightness(30%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  padding: 2rem 2rem;
  font-family: 'Anton' , sans-serif;
  position: absolute;
  left: 0;
}
.about-content{
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content:space-evenly;
}
.about-written-box{
  right: 0;
  position: absolute;
}
.about-written{
  line-height: clamp(1.6em,6vw,1.75rem);
  font-size:clamp(1.1rem,2vw,1.3rem);
  text-align:left;
  padding-right: 2rem;
  z-index: 1;
  position: absolute;
}

.skills-wrapper{
  color:#f5f5f5 ;
}

.mHeading{
  font-size: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: 400;
  font-family: 'Anton' , sans-serif;
}
.marquee{
  padding: 1rem;
  background-color: #FFFF80;
  height: 40vh;
}
.skill-con{
  background-color: #111;
  min-height: 100vh;
}
.skill-wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width:700px){
  .about-wrapper{
    height: 120vh;
    color: white;
    display: block;
  }
  .about-content{
    position:absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-headings{
    position:relative;
    font-size: 10vh;
    filter: brightness(30%);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-family: 'Anton' , sans-serif;
    padding: 1rem;
  }
  .about-content{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content:center;
  }
  
  .about-written{
    line-height: clamp(1.6em,6vw,1.75rem);
    font-size:clamp(1.1rem,2vw,1.3rem);
    text-align:left;
    padding:0;
    z-index: 1;
    position:static;
  }
}