
.proj-headings{
    color: #f5f5f5;
    font-family: 'Anton',sans-serif;
    font-size: 25vh;
}
.project-section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.ball-img1{
    position: relative;
    top: 10;
    left: 0;
    height: 64vh;
    z-index: 10;
}
.ball-img2{
    position: relative;
    height: 64vh;
}
.proj-img{
    object-fit: cover;
    height: 90vh;
    border-radius: 2vh;
    filter: brightness(90%);
}
.proj-title{
    color: #f5f5f5;
    font-weight: 400;
    font-size: 2rem;
    padding: 4vh;
    margin: 2vh;
}
.scroll-container {
  background-color: #121212;
  overflow: hidden;
}
.scroll-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.button-containers{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.button-skills{
    color: #afafaf;
    background-color: #121212;
    padding: 0.5rem 1rem;
    font-weight: 100;
    border-radius: 2rem;
    border: 1px solid #afafaf;
    text-transform: uppercase;
    margin: 0.2rem;
}
.but-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}





.footer-container{
    background-color:#121212;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem;
    color: #f5f5f5;
    flex-wrap: wrap;
}

.last{
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color:#121212;
    font-family: 'Montserrat',  sans-serif;
}
.list-item{
    text-decoration: underline;
    padding: 1rem;
    font-size: 1.5rem;
    color: #f5f5f5;
}
.touch-button{
    font-size: 12vh;
    padding: 6vh;
    border-radius: 12vh;
    background-color: #c53e75;
    color: #f5f5f5;
}