body{
  overflow: hidden;
}
.loading-container {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.progress-hide {
  left: 0;
  background-color: #d9d9d9;
  height: 2px;
  width: 0;
  transition: 0.4s ease-out;
  overflow: hidden;
}
.count-hide {
  z-index: 20;
  position: absolute;
  font-size: 130px;
  color: #d9d9d9;
  transform: translateY(-15px);
  font-weight: 500;
  overflow: hidden;
}

@media screen and (max-width:900px){
  body{
    overflow: auto;
  }
}